.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 360px;
  /* width: 360px; */
  border: 4px dashed rgb(117, 112, 112);
  padding: 20px;
}

button {
  padding: 12px;
  font-size: medium;
}
